 ----
 ${df} on Google Code
 ----
 Vojtech Szocs;
 meta-description=${df} uses Google Code for managing source codes, issues and Maven artifacts.
 ----
 14 August 2009
 ----

${df} on Google Code
  
  ${df} uses services provided by {{{http://code.google.com/} Google Code}} with regard to:
  
  * {{{./source-repository.html} source code repository}} (or visit {{{ ${df-googleCodeUrl} } Google Code project page}} directly)
  
  * {{{./issue-tracking.html} issue tracker}}
  
  * {{{ ${anasoft-os-repo-googleCodeUrl} } Maven artifact repository}}
  
%{html-template-snippet|missingValuesToEmptyStrings=1|htmlFile=src/site/snippet/html/google-friend-connect-comments-gadget.html|paramFile=src/site/snippet/html/google-friend-connect-comments-gadget.properties}
  
