 ----
 ${df} roadmap
 ----
 Vojtech Szocs;
 Michal Jemala;
 meta-description=Roadmap describing planned feature releases and their milestones.
 ----
 10 September 2009
 ----

${df} roadmap
  
  This page lists planned feature releases and their milestones according to our {{{./release-policy.html} release policy}}.
  
1.2.0
  
  * {{{./roadmap.html#Milestone_1} Milestone 1}}: <<complete>>
  
  * {{{./roadmap.html#Milestone_2} Milestone 2}}: <<complete>>
  
  * {{{./roadmap.html#Milestone_3} Milestone 3}}: <<complete>>
  
  []
  
* {Milestone 1}
  
  * code review and refactoring based on open issues
  
  * project roadmap and overview
  
  * <Hello, DAO!> sample application
  
  []
  
* {Milestone 2}
  
  * {{{http://code.google.com/p/daofusion/issues/detail?id=9} bitemporal pattern}} support
  
  * complete revision of the reference documentation
  
  []
  
* {Milestone 3}
  
  * code and documentation final touches
  
  * any issues that come up until release (code base stabilization)
  
  []
  
1.2.1
  
  * removal of code marked as deprecated
  
  []
  
Unscheduled
  
  * <${df} meets Flex> sample application
  
  []
  
Experimental
  
  * DAO layer merged into domain layer (repository entities)
  
  []
  
%{html-template-snippet|missingValuesToEmptyStrings=1|htmlFile=src/site/snippet/html/google-friend-connect-comments-gadget.html|paramFile=src/site/snippet/html/google-friend-connect-comments-gadget.properties}
  
