#banner {
	height: 100px;
	background: url(../images/top-fill.gif);
}

li {
	list-style-type: square;
}

h1,h2 {
	color: #333333;
	font-size: 17px;
}

h4 {
	margin: 6px 0px 4px 0px;
	color: #333333;
}

#leftColumn {
	width: 220px;
}

#bodyColumn {
	margin-left: 250px;
}

.navcolumn img {
	margin-top: 8px;
	margin-bottom: 24px;
	margin-left: 10px;
}

tt {
	color: #8A0808;
	font-size: 13px;
}

#gfcMembersGadget {
	margin-top: 24px;
	margin-bottom: 8px;
}

.fc-topcap-color {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

#gfcCommentsGadget,#gfcRatingsAndReviewsGadget {
	width: 100%;
	margin-top: 24px;
	padding-bottom: 24px;
}
