 ----
 Maven Integration
 ----
 Vojtech Szocs;
 meta-description=Guide to integrating ${df} into projects managed by Maven.
 ----
 14 August 2009
 ----

Maven Integration
  
  ${df} uses {{{http://maven.apache.org/} Maven}} for managing its projects and dependencies as well as for the build process itself.
  
  Integrating ${df} into projects managed by Maven is simple - all you have to do is declare additional <<<repository>>> elements within your project's <<<pom.xml>>> like this:
  
%{code-snippet|brush-autodetect=1|file=src/site/snippet/howto/maven-integration-pom.xml}
  
  For most users, declaring the <ANASOFT OpenSource releases> repository is sufficient since it points to stable project releases.
  
%{html-template-snippet|missingValuesToEmptyStrings=1|htmlFile=src/site/snippet/html/google-friend-connect-comments-gadget.html|paramFile=src/site/snippet/html/google-friend-connect-comments-gadget.properties}
  
